.light-bg {
  background-color: #53ccdd;
  padding: 2rem;
}
.dark-bg {
  padding: 2rem;
  background-color: #282e37;
}
.heading-text {
  display: flex;
  justify-content: space-between;
}
.menu-icon {
  cursor: pointer;
}
.mobile-image {
  background-image: url('../images/mobilephone.jpg');
  height: 25rem;
  width: 25rem;
  background-size: cover;
  background-position: center;
}
.main-text {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
  align-items: center;
}
.main-text div {
  max-width: 40%;
}
