.modal-image {
  background-image: url('../images/modalImage.png');
  height: 35rem;
  width: 18rem;
  background-size: cover;
  background-position: center;
}
.modal-content {
  display: flex;
  flex-direction: row;
}
.modal-dialog {
  max-width: 700px;
}
.form-wrapper {
  padding: 2rem;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20rem;
}
.sign-up-form input,
button {
  margin: 1rem 0;
  border: none;
  border-bottom: 1px solid #000;
}
.form-wrapper h2 {
  color: #000;
}
.signup-bottom-border {
  width: 4rem;
  margin-left: 0;
  height: 4px;
  background-color: #007bff;
  margin-top: 0;
}
.terms-text {
  margin-top: 2rem;
  color: #000;
}
.terms-text span {
  color: #007bff;
}
